@model List<UserListItemViewModel>

@{
    ViewData["Title"] = "Felhasználók listája";
}

<p>
    <a asp-action="Create" asp-route-role="owner" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
        Tulajdonos hozzáadása
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Felhasználó neve
                </th>
                <th>
                    Szerepkör
                </th>
                <th>
                    Felhasználónév
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefonszám
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Role == "tulajdonos")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserOwnName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserPhoneNumber)
                        </td>
                        <td>
                            <a asp-action="UpdateProfile" asp-controller="Account" asp-route-userId="@item.Id">Szerkesztés</a> |
                            <a asp-action="Delete" asp-route-userId="@item.Id" class="btn btn-outline-danger">Törlés</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<p>
    <a asp-action="Create" asp-route-role="musician" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
        </svg>
        Zenész hozzáadása
    </a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Felhasználó neve
                </th>
                <th>
                    Szerepkör
                </th>
                <th>
                    Alapértelmezett zenekarnév
                </th>
                <th>
                    Felhasználónév
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefonszám
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Role == "zenész")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserOwnName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserPhoneNumber)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Szerkesztés</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Részletek</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Törlés</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>