@model RehearsalStudio

@{
    ViewData["Title"] = "Próbahely törlése";
}
<div class="light-color-letters">
<h1 class="display-4">@Model.Name törlése</h1>

<h2>Biztosan törölni akarja?</h2>
<p class="alert-danger">A próbahely törlésével a hozzá tartozó termek, és a termekbe leadott foglalások is törlődnek!</p>

<h3>Részletek</h3>
<div class="table-responsive">
    <table class="table w-auto light-color-letters">
        <tr>
            <th>Próbahely neve:</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Termek száma:</th>
            <td>@Model.Rooms.Count</td>
        </tr>
        <tr>
            <th>Cím:</th>
            <td>@Model.Address</td>
        </tr>
    </table>
</div>

<div>
    <form asp-action="Delete" asp-route-studioId="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger align-baseline" />
        <a asp-action="Index" class="btn btn-secondary align-baseline">Mégsem</a>
    </form>
</div>
</div>