@model RehearsalStudio

<img src="@Url.Action("GetLogo", "RehearsalStudios", new { studioId = Model.Id })" class="img-thumbnail" height="100" width="100" alt="Logo" />

<table class="table table-sm table-responsive table-borderless">
    <tr>
        <th>Termek száma:</th>
        <td>@Model.Rooms.Count()</td>
    </tr>
    <tr>
        <th>Árak:</th>
        <td>@Model.CheapestRoom() Ft - @Model.MostExpensiveRoom() Ft</td>
    </tr>
    <tr>
        <th>Weboldal:</th>
        <td><a href="@Model.Web">@Model.Web</a></td>
    </tr>
    <tr>
        <th>Nyitvatartás:</th>
        <td>
            Hétfő: @Model.OpeningHourMonday - @Model.ClosingHourMonday <br />
            Kedd: @Model.OpeningHourTuesday - @Model.ClosingHourTuesday <br />
            Szerda: @Model.OpeningHourWednesday - @Model.ClosingHourWednesday <br />
            Csütörtök: @Model.OpeningHourThursday - @Model.ClosingHourThursday <br />
            Péntek: @Model.OpeningHourSaturday - @Model.ClosingHourSaturday <br />
            Szombat: @Model.OpeningHourMonday - @Model.ClosingHourMonday <br />
        </td>
    </tr>
</table>

<h4>Leírás</h4>
<div style="max-width: 600px;">@Model.Description</div>

<h4>Bérelhető eszközök</h4>

@if (Model.Equipments == null || Model.Equipments.Count == 0)
{
    <div class="alert-danger">Nincsenek bérelhető eszközök ezen a próbahelyen.</div>
}

<table class="table table-borderless w-auto">
    @foreach (Equipment eq in @Model.Equipments)
    {
        <tr>
            <th>@eq.Name:</th>
            <td>@eq.QuantityAvailable Db</td>
        </tr>
    }
</table>

@if (ViewBag.CurrentUserRole == "owner" || ViewBag.CurrentUserRole == "administrator")
{
    <hr />
    <h4>Műveletek</h4>
    <h5>Próbahely</h5>
    <div class="row">
        <div class="col-auto">
            <a asp-action="Edit" asp-route-studioId="@Model.Id" class="btn btn-primary align-baseline mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
                Szerkesztés
            </a>
        </div>
        <div class="col-auto">
            <a asp-action="Delete" asp-route-studioId="@Model.Id" class="btn btn-outline-danger align-baseline mb-2">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                Törlés
            </a>
        </div>
    </div>
    <h5>Képek</h5>
    <div id="ChangeLogo"></div>
    <div id="AddPictures"></div>
    <div>
        <a class="btn btn-outline-danger" asp-action="DeleteStudioImages" asp-controller="RehearsalStudios" asp-route-studioId="@Model.Id">Képek törlése</a>
    </div>
    <h5>Eszközök</h5>
    <div class="row">
        <div class="col-auto">
            <a asp-controller="Equipments" asp-action="Create" asp-route-studioId="@Model.Id" class="btn btn-primary mb-4 align-baseline">Új bérelhető eszköz hozzáadása</a>
        </div>

        @if (Model.Equipments.Any())
        {
            <div class="col-auto">
                <a asp-controller="Equipments" asp-action="Index" asp-route-studioId="@Model.Id" class="btn btn-primary mb-4 align-baseline">Eszközök módosítása</a>
            </div>
        }
            
    </div>
    
    
}

<script>
    $(document).ready(function () {
        var link = '@Html.Raw(@Url.Action("AddPicturesToStudioPartial", "RehearsalStudios", new { studioId = 0 } )) ';
        link = link.replace("0", @Model.Id);
        $("#AddPictures").load(link);

        link = '@Html.Raw(@Url.Action("ChangeLogoPartial", "RehearsalStudios", new { studioId = 0 } )) ';
        link = link.replace("0", @Model.Id);
        $("#ChangeLogo").load(link);
    });
</script>
