<!DOCTYPE html>

<environment include="Development">
    <!-- Essential Studio for JavaScript  theme reference -->
    <link rel="stylesheet" href="//cdn.syncfusion.com/17.1.0.38/js/web/flat-azure/ej.web.all.min.css" />
    <!-- Essential Studio for JavaScript  script references -->
    <script src="//cdn.syncfusion.com/js/assets/external/jsrender.min.js"></script>
    <script src="//cdn.syncfusion.com/17.1.0.38/js/web/ej.web.all.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</environment>

<html>
<head>
    <meta name="viewport" content="with=device-with" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link href="~/AdditionalStyle.css" rel="stylesheet" />

    <title>Próbák egyszerűen</title>
</head>
<body class="background-image">
    @if (ViewBag.CurrentUserName == null)
    {
        <nav class="navbar navbar-light bg-light">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Főoldal</a>
            <a asp-controller="Account" asp-action="Login" class="navbar-brand">Bejelentkezés</a>
            <a asp-controller="Account" asp-action="RegisterAsMusician" class="navbar-brand">Regisztráció zenészként</a>
            <a asp-controller="Account" asp-action="RegisterAsOwner" class="navbar-brand">Regisztráció tulajdonosként</a>
            <!--<div class="dropdown">
            <button class="btn navbar-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Regisztráció
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Account" asp-action="RegisterAsMusician">Zenészként</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Account" asp-action="RegisterAsOwner">Tulajdonosként</a>
            </div>
        </div>
        -->
        </nav>
    }
    else
    {
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-brand"> Üdvözöljük, <strong>@ViewBag.CurrentUserName</strong>! </div>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Főoldal</a>
            <img src="@Url.Action("GetUserImage", new { userId = ViewBag.CurrentUserId })" class="img-thumbnail navbar-brand" height="30" width="30" alt="Profilkép" />
            <a class="navbar-brand" asp-controller="Account" asp-action="GetProfileDetails">Profilom</a>
        </nav>
        <nav class="navbar navbar-light bg-light">
            @if (ViewBag.CurrentUserRole == "musician")
            {
                <a class="navbar-brand" asp-controller="RehearsalStudios" asp-action="Index">Próbahelyek</a>
                <a class="navbar-brand" asp-controller="RehearsalRooms" asp-action="Index">Próbatermek</a>
                <a class="navbar-brand" asp-controller="Reservations" asp-action="Index" asp-route-userId="@ViewBag.CurrentUserId">Foglalásaim</a>
            }
            else if (ViewBag.CurrentUserRole == "owner")
            {
                <a class="navbar-brand" asp-controller="RehearsalStudios" asp-action="Index" asp-route-ownerId="@ViewBag.CurrentUserId">Próbahelyeim</a>
                <a class="navbar-brand" asp-controller="RehearsalRooms" asp-action="Index" asp-route-ownerId="@ViewBag.CurrentUserId">Próbatermeim</a>
            }
            else if (ViewBag.CurrentUserRole == "administrator")
            {
                <a class="navbar-brand" asp-controller="RehearsalStudios" asp-action="Index">Próbahelyek</a>
                <a class="navbar-brand" asp-controller="RehearsalRooms" asp-action="Index">Próbatermek</a>
                <a class="navbar-brand" asp-controller="Users" asp-action="Index">Felhasználók</a>
                <a class="navbar-brand" asp-controller="Reservations" asp-action="Index">Foglalások</a>
            }
            <a class="navbar-brand" asp-controller="Account" asp-action="Logout">Kijelentkezés</a>
            <!-- <div class="dropdown">
            <button class="btn navbar-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@Url.Action("GetUserImage", new { useId = ViewBag.CurrentUserId })" class="img-thumbnail" height="30" alt="Profilkép" /> Profil
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-controller="Account" asp-action="GetProfileDetails">Profilom</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Reservations" asp-action="Index" asp-route-userId="@ViewBag.CurrentUserId">Foglalásaim</a>
            </div>
        </div> -->
        </nav>
    }


    @if (TempData["SuccessAlert"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["SuccessAlert"]</div>
    }

    @if (TempData["DangerAlert"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["DangerAlert"]</div>
    }

    <div class="container">
        @RenderBody()
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>

<footer class="mt-auto">
    <div class="container">
        <p>Készítette: <br /><strong>Herczegfalvy Veronika </strong><br />hallgató, Eötvös Loránd Tudományegyetem <br /> 2020. </p>
    </div>
</footer>

<ej-script-manager></ej-script-manager>

<script type="text/javascript">

    function Confirm() {

        alert("You have Successfully booked");

    }

</script>