<!DOCTYPE html>
<!--
<environment include="Development">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</environment>
-->

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/AdditionalStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <title>Próbák egyszerűen</title>
</head>
<body class="background-image">
    @if (ViewBag.CurrentUserName == null)
    {
        <nav class="navbar navbar-light bg-light">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Főoldal</a>
            <a asp-controller="Account" asp-action="Login" class="navbar-brand">Bejelentkezés</a>
            <a asp-controller="Account" asp-action="RegisterAsMusician" class="navbar-brand">Regisztráció zenészként</a>
            <a asp-controller="Account" asp-action="RegisterAsOwner" class="navbar-brand">Regisztráció tulajdonosként</a>
            <!--<div class="dropdown">
                <button class="btn navbar-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Regisztráció
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="Account" asp-action="RegisterAsMusician">Zenészként</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Account" asp-action="RegisterAsOwner">Tulajdonosként</a>
                </div>
            </div>
            -->
        </nav>
    }
    else
    {
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-brand"> Üdvözöljük, <strong>@ViewBag.CurrentUserName</strong>! </div>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Főoldal</a>
            <img src="@Url.Action("GetUserImage", new { userId = ViewBag.CurrentUserId })" class="img-thumbnail navbar-brand" height="30" width="30" alt="Profilkép" />
            <a class="navbar-brand" asp-controller="Account" asp-action="GetProfileDetails">Profilom</a>
        </nav>
        <nav class="navbar navbar-light bg-light">
            @if (ViewBag.CurrentUserRole == "musician")
            {
                <a class="navbar-brand" asp-controller="RehearsalStudios" asp-action="Index">Próbahelyek</a>
                <a class="navbar-brand" asp-controller="RehearsalRooms" asp-action="Index">Próbatermek</a>
                <a class="navbar-brand" asp-controller="Reservations" asp-action="Index" asp-route-userId="@ViewBag.CurrentUserId">Foglalásaim</a>
            }
            else if (ViewBag.CurrentUserRole == "owner")
            {
                <a class="navbar-brand" asp-controller="RehearsalStudios" asp-action="Index" asp-route-ownerId="@ViewBag.CurrentUserId">Próbahelyeim</a>
                <a class="navbar-brand" asp-controller="RehearsalRooms" asp-action="Index" asp-route-ownerId="@ViewBag.CurrentUserId">Próbatermeim</a>
            }
            else if (ViewBag.CurrentUserRole == "administrator")
            {
                <a class="navbar-brand" asp-controller="RehearsalStudios" asp-action="Index">Próbahelyek</a>
                <a class="navbar-brand" asp-controller="RehearsalRooms" asp-action="Index">Próbatermek</a>
                <a class="navbar-brand" asp-controller="Users" asp-action="Index">Felhasználók</a>
                <a class="navbar-brand" asp-controller="Reservations" asp-action="Index">Foglalások</a>
            }
            <a class="navbar-brand" asp-controller="Account" asp-action="Logout">Kijelentkezés</a>
            <!-- <div class="dropdown">
                <button class="btn navbar-brand dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="@Url.Action("GetUserImage", new { useId = ViewBag.CurrentUserId })" class="img-thumbnail" height="30" alt="Profilkép" /> Profil
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="Account" asp-action="GetProfileDetails">Profilom</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Reservations" asp-action="Index" asp-route-userId="@ViewBag.CurrentUserId">Foglalásaim</a>
                </div>
            </div> -->
        </nav>
    }


    @if (TempData["SuccessAlert"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["SuccessAlert"]</div>
    }

    @if (TempData["DangerAlert"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["DangerAlert"]</div>
    }

    <div class="container">
        @RenderBody()
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>

<footer class="mt-auto">
    <div class="container">
        <p>Készítette: <br /><strong>Herczegfalvy Veronika </strong><br />hallgató, Eötvös Loránd Tudományegyetem <br /> 2020. </p>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)

<ej-script-manager></ej-script-manager>
