@model int

<h1>Foglalások</h1>

<div class="row">
    <div class="col">
        <button class="btn btn-outline-dark" id="previousDayButton">Előző nap</button>
    </div>
    <div class="col">
        <button class="btn btn-outline-dark float-right mb-4" id="nextDayButton">Következő nap</button>
    </div>
</div>

<div id="ReservationsTableContent"></div>

<script>
    $(document).ready(function () {

        var index = 0; //0 means TODAY, 1 means TOMORROW etc. index is between 0 and 9, only the next 10 days' reservations are visible
        var studioId = @Model;

        var link = '@Html.Raw(@Url.Action("GetTableOfReservations", "RehearsalStudios", new { studioId = 100, dayIndex = 0 } )) ';
        link = link.replace("100", studioId);
        $("#ReservationsTableContent").load(link);

        $("#previousDayButton").hide();

        $("#previousDayButton").click(function () {
            index = index - 1;
            var link = '@Html.Raw(@Url.Action("GetTableOfReservations", "RehearsalStudios", new { studioId = 100, dayIndex = 12 } )) ';

            //with this replacement, there will be: dayIndex = [0..9] as dayIndex has to be in this range
            //note: dayIndex = 1 wouldn't be good bc "1" appears also in "100"
            link = link.replace("12", index);

            //after 12 is replaced to [0..9] we can replace 100 beacuse there won't be other "100" in the string, bc dayIndex is in [0..9]
            link = link.replace("100", studioId);

            if (index > 0) {
                $("#previousDayButton").show();
            }
            else {
                $("#previousDayButton").hide();
            }

            if (index < 8) {
                $("#nextDayButton").show();
            }
            else {
                $("#nextDayButton").hide();
            }

            $("#ReservationsTableContent").load(link);
        });

        $("#nextDayButton").click(function () {
            index = index + 1;
            var link = '@Html.Raw(@Url.Action("GetTableOfReservations", "RehearsalStudios", new { studioId = 100, dayIndex = 12 } )) ';
            link = link.replace("12", index);
            link = link.replace("100", studioId);

            if (index > 0) {
                $("#previousDayButton").show();
            }
            else {
                $("#previousDayButton").hide();
            }

            if (index < 8) {
                $("#nextDayButton").show();
            }
            else {
                $("#nextDayButton").hide();
            }

            //note: never change the order of these lines! if studioId would be 12, then the 12 -> index replacement would result wrong 'link' string
            $("#ReservationsTableContent").load(link);
        });
    });
</script>