@model List<RehearsalRoom>


@{
    int count = Model.Count();
}

@if (count == 0)
{
    <div class="color-light">Jelenleg minden terem bérelhető.</div>
}

@for (int i = 0; i < (count + 11) / 12; ++i)
{
    <div class="row">
        @for (int j = 0; j < 12; ++j)
        {
            @if ((i * 12 + j) < count)
            {
                <div class="col mt-4">
                    <div class="card text-center" style="width: 300px;">
                        <div class="bg-image hover-overlay ripple d-flex align-items-center background-light" data-mdb-ripple-color="light" style="height: 180px;">
                            <img src="@Url.Action("GetDefaultImage", "RehearsalRooms", new { roomId = Model[i * 3 + j].Id })" class="img-fluid" />
                            <a asp-controller="RehearsalRooms" asp-action="Details" asp-route-roomId="@Model[i * 3 + j].Id">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a asp-controller="RehearsalStudios" asp-action="Details" asp-route-studioId="@Model[i * 3 + j].StudioId">
                                    @Model[i * 3 + j].Studio.Name
                                </a>
                            </h5>
                            <p>
                                @Model[i * 3 + j].Number. terem<br />
                                @Model[i * 3 + j].Size m<sup>2</sup><br />
                                @Model[i * 3 + j].Price Ft/óra <br />
                                Nem elérhető
                            </p>
                            @if (ViewBag.CurrentUserRole == "musician" || ViewBag.CurrentUserRole == null)
                            {
                                        <a asp-controller="Reservations" asp-action="Create" asp-route-roomId="@Model[i * 3 + j].Id" class="btn btn-primary">Foglalás</a>
                            }
                            else
                            {
                                <a asp-controller="RehearsalRooms" asp-action="Details" asp-route-roomId="@Model[i * 3 + j].Id" class="btn btn-primary align-baseline">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </a>
                                <a asp-action="Edit" asp-route-roomId="@Model[i * 3 + j].Id" class="btn btn-primary align-baseline mb-2">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square hide-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                                <a asp-action="Delete" asp-route-roomId="@Model[i * 3 + j].Id" class="btn btn-danger align-baseline mb-2">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash hide-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}