@model User

@{
    ViewData["Title"] = "Törlés";
}
<div class="light-color-letters">
<h1 class="display-4">Törlés</h1>

<h3>Biztos benne, hogy törli az alábbi felhasználót?</h3>

<div class="table-responsive">
        <table class="table w-auto light-color-letters">
            <tr>
                <th>Név:</th>
                <td>@Model.UserOwnName</td>
            </tr>
            <tr>
                <th>Felhasználónév:</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Email cím:</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Telefonszám:</th>
                <td>@Model.PhoneNumber</td>
            </tr>
        </table>

    <form asp-action="Delete" asp-route-userId="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger align-baseline" />
        <a asp-action="Index" class="btn btn-secondary align-baseline">Vissza</a>
    </form>
</div>
</div>