@model MusicianRegistrationViewModel

<h1 class="display-4">Adataim</h1>

<img src="@Url.Action("GetUserImage", "Home", new { userId = ViewBag.CurrentUserId })" class="img-thumbnail navbar-brand" height="70" width="70" alt="Profilkép" />

<form asp-controller="Account" asp-action="ChangeProfilePicture">
    <div class="form-group">
        <label for="upload">Fájl feltöltése</label>
        <input type="file" class="form-control-file" id="upload" />
    </div>
    <button type="submit" class="btn btn-outline-primary">Profilkép módosítása</button>
</form>

<div class="table-responsive">
    <table class="table table-striped w-auto table-bordered">
        <tr>
            <th>Név:</th>
            <td>@Model.UserOwnName</td>
        </tr>
        <tr>
            <th>Felhasználónév:</th>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <th>Email cím:</th>
            <td>@Model.UserEmail</td>
        </tr>
        <tr>
            <th>Telefonszám:</th>
            <td>@Model.UserPhoneNumber</td>
        </tr>
        <tr>
            @if (ViewBag.CurrentUserRole == "musician")
            {
                <th>Alapértelmezett zenekarnév:</th>
                <td>@Model.BandName</td>
            }
        </tr>
    </table>
</div>

<a asp-controller="Account" asp-action="UpdateProfile" class="btn btn-primary">Adatok módosítása</a>