@model RehearsalRoom

@{
    ViewData["Title"] = "Próbaterem törlése";
}

<div class="light-color-letters">

<h1 class="display-4">Próbaterem törlése</h1>

<h3>Biztosan törölni szeretné?</h3>

<div class="table-responsive">
    <table class="table w-auto table-borderless light-color-letters">
        <tr>
            <th>Stúdió neve:</th>
            <td>@Model.Studio.Name</td>
        </tr>
        <tr>
            <th>Terem száma:</th>
            <td>@Model.Number</td>
        </tr>
        <tr>
            <th>Ár:</th>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <th>Méret:</th>
            <td>@Model.Size</td>
        </tr>
        <tr>
            <th>Elérhetőség:</th>
            @if (@Model.Available)
            {
                <td>Elérhető</td>
            }
            else
            {
                <td>Nem elérhető</td>
            }
        </tr>
        <tr>
            <th>Leírás:</th>
            <td>@Model.Description</td>
        </tr>
    </table>
</div>

<form asp-action="Delete" asp-route-roomId="@Model.Id">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Törlés" class="btn btn-danger align-baseline" />
    <a asp-action="Index" class="btn btn-secondary align-baseline">Mégsem</a>
</form>

</div>