@model RehearsalRoom

@{
    ViewData["Title"] = "Próbaterem részletei";
}

<div class="display-4 color-light">@Model.Studio.Name</div>

<div class="row">
    <div class="col-2">
        <div class="row my-sidebar" id="aboutRoom" role="button">
            <h3>Áttekintés</h3>
        </div>
        <div class="row my-sidebar" id="equipmentsList" role="button">
            <h3>Bérelhető eszközök</h3>
        </div>
        <div class="row my-sidebar" id="pictureSlide" role="button">
            <h3>Képek</h3>
        </div>
        <div class="row my-sidebar" id="onlineReservation" role="button">
            <h3>Online foglalás</h3>
        </div>
    </div>
    <div class="col-10" id="contentCard">
        
    </div>
</div>

<script>
    $(document).ready(function () {
        var link = '@Html.Raw(@Url.Action("AddPicturesToRoomPartial", "RehearsalRooms", new { roomId = 0 } )) ';
        link = link.replace("0", @Model.Id);
        $("#AddPictures").load(link);

        link = '@Html.Raw(@Url.Action("GetAboutRoomPartial", "RehearsalRooms", new { roomId = 100 } )) ';
        var roomId = @Model.Id;
        link = link.replace("100", roomId);
        $("#contentCard").load(link);

        $("#aboutRoom").click(function () {
            var link = '@Html.Raw(@Url.Action("GetAboutRoomPartial", "RehearsalRooms", new { roomId = 100 } )) ';
            var roomId = @Model.Id;
            link = link.replace("100", roomId);
            $("#contentCard").load(link);
        });

        $("#equipmentsList").click(function () {
            var link = '@Html.Raw(@Url.Action("GetEquipmentsListPartial", "RehearsalRooms", new { roomId = 100 } )) ';
            var roomId = @Model.Id;
            link = link.replace("100", roomId);
            $("#contentCard").load(link);
        });

        $("#onlineReservation").click(function () {
            var link = '@Html.Raw(@Url.Action("GetReservationsTableForRoomPartial", "RehearsalRooms", new { roomId = 100 } )) ';
            var roomId = @Model.Id;
            link = link.replace("100", roomId);
            $("#contentCard").load(link);
        });

        $("#pictureSlide").click(function () {
            var link = '@Html.Raw(@Url.Action("GetImagesForRoomPartial", "RehearsalRooms", new { roomId = 100 } )) ';
            var roomId = @Model.Id;
            link = link.replace("100", roomId);
            $("#contentCard").load(link);
        });

    });

</script>