@model IEnumerable<RehearsalRoom>

@{
    ViewData["Title"] = "Próbatermek";
}

<div class="display-4 color-light">Próbatermek</div>

@if (ViewBag.CurrentUserRole == "owner" || ViewBag.CurrentUserRole == "administrator")
{
    <div>
        <a asp-action="Create" class="btn btn-primary mb-2">
            <svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
            Új próbaterem hozzáadása
        </a>
    </div>
}

<!--Only musicians and unauthorized users can search as for the others it is unnecessary-->
@if (ViewBag.CurrentUserRole == "musician" || ViewBag.CurrentUserRole == null)
{
    <p class="color-light">Kereshet időpont alapján, így biztosan megtalálja az Önnek megfelelő időpontban szabad termet.</p>

    <form asp-action="Index" method="get" class="form-inline">
        <div class="row mb-4">
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto important-pr-0">
                        <label for="date" class="col-form-label mx-md-2 color-light">Dátum:</label>
                    </div>
                    <div class="col-auto important-pr-0">
                        <input name="date" asp-format="{0:yyyy-MM-dd}" class="form-control" type="date" value="" id="date" />
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto important-pr-0">
                        <label for="startTime" class="col-form-label mx-md-2 color-light">Próba kezdete:</label>
                    </div>
                    <div class="col-auto important-pr-0">
                        <input class="form-control" type="time" name="startTime" id="startTime">
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row">
                    <div class="col-auto important-pr-0">
                        <label for="endTime" class="col-form-label mx-md-2 color-light">Próba vége:</label>
                    </div>
                    <div class="col-auto important-pr-0">
                        <input class="form-control" type="time" name="endTime" id="endTime">
                    </div>
                </div>
            </div>
            <div class="col">


                <input type="submit" value="Keresés" class="btn btn-outline-success mx-0 mx-sm-3 my-2 my-lg-0" style="margin-left: 20px;" />
            </div>
        </div>
    </form>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rendezés
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["StudioNameSortParam"]" 
               asp-route-date="@ViewData["DateFilter"]" 
               asp-route-startTime="@ViewData["StartTimeFilter"]"
               asp-route-endTime="@ViewData["EndTimeFilter"]">Próbahely neve</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["SizeSortParam"]" 
               asp-route-date="@ViewData["DateFilter"]" 
               asp-route-startTime="@ViewData["StartTimeFilter"]"
               asp-route-endTime="@ViewData["EndTimeFilter"]">Alapterület</a>
            <a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]" 
               asp-route-date="@ViewData["DateFilter"]" 
               asp-route-startTime="@ViewData["StartTimeFilter"]"
               asp-route-endTime="@ViewData["EndTimeFilter"]">Ár</a>
        </div>
    </div>
}

@{
    int count = Model.Count();
}

@for (int i = 0; i < Math.Ceiling(count / 12.0); ++i)
{
    <div class="row">
        @for (int j = 0; j < 12; ++j)
        {
            @if ((i * 12 + j) < count)
            {
                <div class="col mt-4">

                    @await Html.PartialAsync("_RoomCardPartial", Model.ToList()[i * 12 + j])

                </div>
            }
        }
    </div>
}


@if (ViewBag.CurrentUserRole == "administrator" || ViewBag.CurrentUserRole == "owner")
{
    <h1 class="display-4 color-light">Nem elérhető termek</h1>
    <div id="UnavailableRooms"></div>
}

<script>
    $(document).ready(function () {
        var link = '@Html.Raw(@Url.Action("GetUnavailableRooms", "RehearsalRooms"))';
        $("#UnavailableRooms").load(link);
    });
</script>